<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="row ustify-content-center" style="margin-top:100px">
        <div class="col-12 offset-lg-3 col-lg-6">
            <div id='formulario'>
                <form v-on:submit.prevent="adicionar">
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input class="form-control" type="text" name="descricao" id="descricao" v-model="descricao">                
                    </div>
                    <button class="btn btn-dark" type="button" onclick="adicionar()">Adicionar</button>
                </form>
                Texto input: {{descricao}}
            </div>
        
            <div id="app">                        
                
                <hr>
                <table  class="table table-bordered table-borderless">
                    <thead>
                        <tr>
                            <td>Indice</td>
                            <td>Descrição</td>
                            <td>Ação</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(item, index) in itens" @click="selecionar($event)">
                            <td>{{index}}</td>
                            <td>{{item}}</td>
                            <td><button type="button" @click="remover(index)">X</button></td>
                        </tr>
                    </tbody>
                    
                </table>        
            </div>
        </div>
    </div>
    

    
    <script>
        function adicionar()
        {
            formulario.adicionar();
        }
        
        const formulario = new Vue({
            el: '#formulario',
            data: {
                descricao: ''
            },
            methods:{
                adicionar()
                {
                    if(formulario.descricao != '')
                        lista.itens.push(formulario.descricao);
                    else
                        alert("Descricao está vazia");

                    formulario.descricao = '';
                },
            }
        });
        
        const lista = new Vue({
            el: '#app',
            data: {
                itens: []                
            },
            methods: {                
                remover(index){
                    this.itens.splice(index, 1);

                    if(this.itens.length === 0)
                        alert('itens vazia.');
                },
                selecionar(event){
                    element = event.target.parentElement;
                    console.log(element.style.background);
                    if(element.style.background == 'white' || element.style.background == '')
                        element.style.background = 'grey';
                    else
                        element.style.background = 'white';
                }
            }            
        })
    </script>
    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>